*{
    padding: 0;
    margin: 0;
}
body{
    background: rgb(242, 19, 56);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}


/* dregradelineal-- para degradar el fondo de color */.